@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @font-face {
      font-family: 'SF Pro';
      src: url('../../public/fonts/SFPRO_REGULAR.OTF');
    }

    @font-face {
      font-family: 'SF Pro Medium';
      src: url('../../public/fonts/SFPRO_MEDIUM.OTF');
    }
  }

  h1 {
    @apply title-lg;
  }

  h2 {
    @apply title-1;
  }

  h3 {
    @apply title-2;
  }

  h4 {
    @apply title-3;
  }

  p,
  b,
  a {
    @apply text-body;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
    -webkit-appearance: none;
  }

  ::selection {
    @apply bg-primary;
    -webkit-text-fill-color: #fff;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-2 bg-background-200;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary;
  }
}
