@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @font-face {
      font-family: 'SF Pro';
      src: url('../../public/fonts/SFPRO_REGULAR.OTF');
    }

    @font-face {
      font-family: 'SF Pro Medium';
      src: url('../../public/fonts/SFPRO_MEDIUM.OTF');
    }
  }

  html,
  body {
    @apply overflow-x-hidden scroll-smooth bg-background font-body text-text;
  }

  html {
    @apply h-full text-base;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply min-h-full antialiased;
    text-rendering: optimizeLegibility;
  }

  * {
    @apply m-0 box-border p-0;
  }

  img {
    @apply select-none;
    -webkit-user-drag: none;
  }

  button {
    @apply cursor-pointer select-none font-body;
  }

  a {
    @apply select-none text-inherit no-underline;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
    -webkit-appearance: none;
  }

  ::selection {
    @apply bg-primary;
    -webkit-text-fill-color: #fff;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-2 bg-background;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary;
  }
}
